<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
   <add key="ServiceConfigurationFile" value="c:\temp\AZCRMDE.config"/>
   <add key="caseNumbersFile" value="C:\Changes\Arizona\201603\Drop0002\casenumbers_samples.txt"/>
   <add key="resultsFile" value="C:\Changes\Arizona\201603\Drop0002\GetCaseResults.log"/>
   
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>

</configuration>